/**
 * xcwlkj.com Inc.
 * Copyright (c) 2015-${year} All Rights Reserved.
 */
package ${package}.${systemCode}.mapper;

import ${package}.BaseMapper;
import ${package}.${systemCode}.model.${className}Entity;

/**
 * ${comments}
 * @author ${author}
 * @version $Id: ${className}.java, v 0.1 ${datetime} ${author} Exp $
 */
public interface ${className}Mapper extends BaseMapper<${className}Entity> {

}